.wrapper {
  background: #ffffff;
  display: grid;
  justify-items: center;
  align-items: start;
  width: 100%;
  overflow-x: hidden;
}

.container {
  background: #ffffff;
  width: 100vw;
  height: 100vh;
}

.background {
  position: relative;
  height: 1080px;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.group2 {
  width: auto;
}

.groupImage {
  position: absolute;
  width: 1441px;
  height: auto;
  top: 0;
  left: 320px;
}

.years {
  position: absolute;
  top: 399px;
  left: 537px;
  font-family: "PT Sans", Helvetica, sans-serif;
  font-weight: bold;
  font-size: clamp(60px, 12vw, 200px);
  line-height: 160px;
  text-align: center;
  white-space: nowrap;
  letter-spacing: -4px;
}

.yearBlue {
  color: #5d5fef;
  letter-spacing: -8px;
}

.yearPink {
  color: #ef5da8;
  letter-spacing: -8px;
}

.dateSliderPosition {
  position: relative;
  top: -287px;
  left: 383px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.maskImage {
  position: absolute;
  width: 536px;
  height: 530px;
  top: 215px;
  left: 772px;
}

.labelScience {
  position: absolute;
  top: 227px;
  left: 1196px;
  font-family: "PT Sans", Helvetica, sans-serif;
  font-weight: bold;
  font-size: 20px;
  line-height: 30px;
  color: #000c3e;
  white-space: nowrap;
}

.block {
  position: absolute;
  width: 324px;
  height: 135px;
}
.blockText {
  position: absolute;
  top: 45px;
  left: 0;
  font-family: "PT Sans", Helvetica, sans-serif;
  font-size: 20px;
  line-height: 30px;
  color: #000c3e;
  font-weight: normal;
  width: 320px;
}
.blockYear {
  position: absolute;
  top: 0;
  left: 0;
  font-family: "Bebas Neue", Helvetica, sans-serif;
  font-size: 25px;
  line-height: 30px;
  font-weight: normal;
  color: #ef5da8;
}

.circle {
  position: absolute;
  top: 251px;
  left: 1126px;
  width: 56px;
  height: 56px;
  background: #f4f5f9;
  border: 1px solid rgba(48, 62, 88, 0.5);
  border-radius: 50%;
  transform: rotate(90deg);
}

.title {
  position: absolute;
  width: 353px;
  height: 134px;
  left: 400px;
  top: 170px;
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 56px;
  line-height: 120%;
  color: #42567a;
}

.vectorLine {
  position: absolute;
  width: 5px;
  height: 120px;
  top: 177px;
  left: 320px;
}

.roundBtn {
  position: absolute;
  width: 40px;
  height: 40px;
  top: 882px;
  left: 1680px;
  background: #fff;
  border-radius: 20px;
  box-shadow: 0 0 15px rgba(56, 119, 238, 0.1);
}

.roundArrow {
  position: absolute;
  width: 7px;
  height: 11px;
  top: 896px;
  left: 1697px;
}

.dateBlock {
  position: absolute;
  width: 122px;
  height: 88px;
  top: 697px;
  left: 400px;
}
.dateBlock .dateLabel {
  position: absolute;
  top: 0;
  left: 0;
  font-family: "PT Sans", Helvetica, sans-serif;
  font-size: 14px;
  color: #42567a;
}
.dateBlock .icon {
  position: absolute;
  width: 50px;
  height: 50px;
  top: 38px;
  left: 70px;
}

@media (max-width: 1300px) {
  .maskImage {
    display: none;
  }
}
@media (max-width: 768px) {
  .block__text {
    width: 100px;
    font-size: 16px;
    overflow-wrap: break-word;
  }
  .block__year {
    font-size: 18px;
  }
  .yearBlue {
    letter-spacing: 0px;
  }
  .yearPink {
    color: #ef5da8;
    letter-spacing: 0px;
  }
}/*# sourceMappingURL=Desktop.module.css.map */