// Кнопки Swiper
:global(.swiper-button-prev),
:global(.swiper-button-next) {
  width: 40px!important;
  height: 40px!important;
  border-radius: 50%;
  background: #fff;
  border: 1px solid #ccc;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
display: flex;

  align-items: center;
  justify-content: center;
  opacity: 1; // показываем

  top: 50%;
  transform: translateY(-150%);

  &::after {
    font-family: swiper-icons;
    font-size: 16px!important;
    font-weight: 900;
    color: #3877ee;
    position: static;
    line-height: 1;
  }
}

// Конкретные позиции
:global(.swiper-button-next) {
  right: 7%;
}

:global(.swiper-button-prev) {
  right: 10px;
}

// Скрытие предыдущей кнопки, если отключена
:global(.swiper-button-prev.swiper-button-disabled) {
  display: none;
}
:global(.swiper-pagination) {
  display: block !important;
  position: relative !important; // если нужно явно
  bottom: 0 !important;
}

:global(.swiper-pagination-bullet) {
  display: inline-block !important;
  background: #000 !important;
  width: 8px !important;
  height: 8px !important;
  border-radius: 50% !important;
}
// Пагинация на больших экранах


:global(.custom-pagination) {
  display: block !important;
}


// Десктоп > 1024px — скрываем
@media (min-width: 1024px) {
  :global(.custom-pagination) {
    display: none !important;
  }


}


@media(max-width:800px){
    :global(.swiper-button-prev),
:global(.swiper-button-next){
  display: none!important;
}

  :global(.swiper-slide div) {
    height: 600px;
  }
}