/* src/components/DateSlider/DateSlider.module.css */

.dateSlider {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 8px 16px;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 24px;
  font-family: Arial, sans-serif;
  position: relative;
  width: fit-content;
  /* margin: 0 auto; */
}
.arrows{
  display: flex;
}
.currentDate{
font-family: 'PT Sans';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 18px;

color: #42567A;


}
.arrowButton {
  background: none;
  border: none;
  font-size: 20px;
  cursor: pointer;
  color: #000;
  opacity: 0.7;
  transition: all 0.2s ease;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
      background: #fff;
    border-radius: 50%;
    height: 40px;
    width: 40px;
}

.arrowButton:hover:not(:disabled) {
  opacity: 1;
  /* transform: scale(1.1); */
}

.arrowButton:disabled {
  opacity: 0.3;
  cursor: not-allowed;
}

.swiperWrapper {
  width: 120px;
  overflow: hidden;
}

.swiperSlide {
  display: flex;
  align-items: center;
  justify-content: center;
}

.dateBlock {
  text-align: center;
}

.dateLabel {
  font-size: 18px;
  font-weight: 700;
  color: #000;
  margin: 0;
}


/* Кнопки-стрелки в виде кружочков */
/* .arrowButton {
    font-family: swiper-icons;
    font-size: 16px;
    font-weight: 900;
    color: #000000;
    position: static;
    line-height: 1;

} */

/* .arrowButton:hover {
  background-color: #fff; 


  transform: scale(1.05);
}

.arrowButton:active {
  transform: scale(0.95);
} */

/* Позиционирование кнопок */
.arrowPrev {
  order: -1; /* Чтобы была слева от слайдера */
  
}

.arrowNext {
  order: 1; /* Справа */
   transform: rotate(180deg);
}

